body {
    background-color: slategray;
}

#theGrid {
    display: grid;
    grid-auto-columns: 10vw;
    grid-template-areas: none;
    justify-content: center;
    align-items: center;
}

.squareItem {
    text-align: center;
    width: 10vw;
    height: 10vw;
}

